@model List<MVC_Coffee.Models.Entities.Coffee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kahve Sipariş Anasayfası</h1>

<!--todo: Model'den teslim alınan kahaveler card içerisinde ayrı ayrı listelenecek.-->
