<ul>
    <li>
        <a href="/Home/Index">Anasayfa</a>
    </li>
    <li>
        <a href="/Home/About">Hakkımızda</a>
    </li>
    <li>
        <a href="/Home/Contact">İletişim</a>
    </li>
    <li>
        <a href="/Product/Index">Ürün Listesi</a>
    </li>
</ul>