<html>
    <head>
        <title>Kahve Sipariş Uygulaması</title>
        <!--bootstrap-->
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    </head>
    <body>

        @RenderBody()


    </body>
</html>