<html>
    <head>
        <title>Proje Sayfası</title>
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link" aria-current="page" >Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/About" class="nav-link" aria-current="page">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/contact" class="nav-link" aria-current="page" h>İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Product/Index" class="nav-link" aria-current="page">Ürünler</a>
                    </li>
                </ul>
            
            </div>
        </div>
    </nav>


        @RenderBody()


        <footer>
            <span>Footer Sabit</span>
        </footer>

    </body>
</html>